<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 3" alt=""></td>
        <td><a href="{{site.baseurl}}/unit3lesson#primitive-data-types">Primitive Types</a></td>
        <td><a href="{{site.baseurl}}/unit3lesson#refrence-types">Reference Types</a></td>
        <td><a href="{{site.baseurl}}/unit3lesson#memory-allocation-stack-and-heap">Memory Allocation / Assignment</a></td>
        <td><a href="{{site.baseurl}}/unit3lessonexamples">Code Example</a></td>
        <td><a href="{{site.baseurl}}/unit3lesson#hacks">Hacks</a></td>
        <td><a href="{{site.baseurl}}/quiz">Quiz</a></td>
    </tr>
</table>