<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 5" alt=""></td>
        <td><a href="{{site.baseurl}}/unit5lesson#primitive-data-types">Primitive Types</a></td>
        <td><a href="{{site.baseurl}}/unit5lesson#refrence-types">Reference Types</a></td>
        <td><a href="{{site.baseurl}}/unit5lesson#memory-allocation-stack-and-heap">Memory Allocation / Assignment</a></td>
        <td><a href="{{site.baseurl}}/unit5lessonexamples">Code Example</a></td>
        <td><a href="{{site.baseurl}}/unit5lesson#hacks">Hacks</a></td>
        <td><a href="{{site.baseurl}}/quiz">Quiz</a></td>
    </tr>
</table>